########################################
# AoeLoot module configuration
########################################
#
#    AOELoot.Enable
#         Description: Enables Module
#         Default:    0 - (Disabled)
#                     1 - (Enabled)
#

AOELoot.Enable = 1

#
#    AOELoot.Message
#         Description: Enable message on login
#         Default:    0 - (Disabled)
#                     1 - (Enabled)
#

AOELoot.Message = 0

#
#   AOELoot.Range
#       Description: Maximum reach range search loot.
#       Default:    55.0
#

AOELoot.Range = 55.0

#
#   AOELoot.Group
#       Description: Enables area loot if the player is in a group
#       Default:    1 (Enabled)
#       Possible values:    0 - (Disabled)
#                           1 - (Enabled)
#

AOELoot.Group = 1